  /* COMIENZA PRODUCTOS*/

  #mainProductos {
    background: nth($bg-colores , 4 );
  }

  .productosTexto {
    @extend %fontTittle;
  }
  
  
  .colNav {
    background:nth($bg-colores , 2 );
    border-radius: 1rem;
    padding: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    font-family: nth($fonts , 2 );
    text-transform: uppercase;
    list-style: none;
    font-size: 1.6rem;
    line-height: 4rem;
    margin: 1rem auto;

    li {
      list-style: none;
      
      button {
        color: nth($txt-colores , 6 );
        background:nth($bg-colores , 2 );
        font-family: nth($fonts , 2 );
        border: none;
        text-transform: uppercase;

        &:hover {
          color: nth($txt-colores , 8 );
        }
      }
    }
  }
  
  .itemProducto {
    font-family: nth($fonts , 2 );
    font-size: 2rem;
    background: nth($bg-colores , 5 );
    @extend %sombra;
    border: solid 0.1rem lightgrey;
    overflow: hidden;

    &:hover {
      @extend %sombraHover;
    }
  }

  .cardProductos {
    box-shadow: 0px 0px 14px 2px rgb(200 200 200 / 69%);
    -webkit-box-shadow: 0px 0px 14px 2px rgb(200 200 200 / 69%);
    -moz-box-shadow: 0px 0px 14px 2px rgba(200, 200, 200, 0.69);
    &:hover{
      box-shadow: 0px 0px 14px 2px rgb(150 150 150 / 69%);
      -webkit-box-shadow: 0px 0px 14px 2px rgb(150 150 150 / 69%);
      -moz-box-shadow: 0px 0px 14px 2px rgba(150, 150, 150, 0.69);
    }
  }
  /* TERMINA PRODUCTOS*/


  .botonAgregarAlCarrito {
    background-color:#FD885ED6; 
    color:#80192C; 
    border: none #363434;
    &:hover {
      font-size: 10rem;
      background: #80192C;
      color: #FD885ED6;
      transition: all 0.3s;
    }
  }
