// Listas 

// Colores 

$bg-colores:
#000000,
#363434,
#D3D3D39F,
#F5F5F5,
#FFFFFF, // 5
#FD895E,
#FD885ED6,
#80192C;

$txt-colores:
#000000,
#212529,
#363434,
#80192C,
#00BB2D, // 5
#FD895E,
#FFFFFF,
#808080,
#80192CA1;

// Tipografias

$fonts:
'Oswald', sans-serif, 
'Nunito', sans-serif,
'Encode Sans SC', sans-serif;
